<% content_for :head do %>
  <%= javascript_pack_tag :book %>
<% end %>

<script>
  window.book = <%=
    raw({
      content: @paragraph.content,
      page: @paragraph.index,
      pageCount: @book.paragraphs.size
    }.to_json)
  %>

  <%= render 'paragraph_navigation.js' %>
  <%= render 'font_zoom.js' %>
</script>

<style>
  #container {
    display: flex;
    align-items: center;

    position: absolute;
    overflow-x: scroll;
    top: 70px;
    bottom: 20px;
    left: 0;
    right: 0;
  }

  #pageno {
    position: fixed;
    right: 15px;
    top: 5px;

    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #lookup {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 55px;
    height: 65px;
    background-color: var(--color-bump1);
  }

  #zoom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;

    display: flex;
    flex-direction: row;
  }
  #zoom input {
    width: 100%;
  }
  #zoom button {
    min-width: 20px;
  }

  article {
    writing-mode: vertical-rl;
    padding-left: 35px;
    padding-right: 35px;

    line-height: 1.6;
  }

  p {
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .highlight {
    background-color: var(--color-active);
  }

  .nav-btn {
    background-color: var(--color-nav);
    min-width: 50px;
    height: 100%;
  }
</style>

<div id='lookup'>
</div>
<div id='container'>
  <% unless @paragraph.last? %>
    <%= link_to '', book_path(@book.slug, @paragraph.index + 1, anchor: 'first'), class: 'nav-btn' %>
  <% end %>

  <article>
    <% @paragraph.lines.each_with_index do |line, i| %>
      <p id='p<%= i %>'><%= line.html_safe %></p>
    <% end %>
  </article>

  <% unless @paragraph.first? %>
    <%= link_to '', book_path(@book.slug, @paragraph.index - 1, anchor: 'last'), class: 'nav-btn' %>
  <% end %>
</div>
<div id='pageno'>
  <span><%= link_to @paragraph.index, request.fullpath %>/<%= @book.paragraphs.size-1 %></span>
  <%= link_to '/' do %>
    <img src='/images/dictionarian.png' width=32 height=32 />
  <% end %>
</div>
<div id='zoom'>
  <input id='font-zoom' type='range' min='12' max='100' />
  <button id='reset-zoom'>⏎</button>
</div>
