<% content_for :head do %>
  <%= javascript_pack_tag :book %>
<% end %>

<script>
  window.book = <%=
    raw({
      content: @paragraph.content,
      page: @paragraph.index,
      pageCount: @book.paragraphs.size
    }.to_json)
  %>

  const hashchange = () => {
    const n = location.hash.substr(1)
    let selected

    if (n === 'first') {
      selected = document.querySelector('article p:first-child')
      location.hash = `#${selected.id}`
      return
    }
    else if (n === 'last') {
      selected = document.querySelector('article p:last-child')
      location.hash = `#${selected.id}`
      return
    }
    else
      selected = document.querySelector(`#${n}`)

    for (const el of document.querySelectorAll('.highlight'))
      el.classList.remove('highlight')

    if (selected)
      selected.classList.add('highlight')
  }

  document.addEventListener('DOMContentLoaded', () => {
    for (const el of document.querySelectorAll('article p')) {
      el.onclick = () => {
        const range = window.getSelection().getRangeAt(0)

        if (range.startOffset === range.endOffset)
          document.location.hash = `#${el.id}`
      }
    }
    hashchange()
  })

  window.addEventListener('hashchange', hashchange)

  document.addEventListener('selectionchange', async() => {
    const text = document.getSelection().toString()
    if (!text) return
    if (text.length > 10) return
    if (text.length <= 0) return

    lookupRequest(text, results => window.lookup.$set({results, query: text}))
  })
</script>

<style>
  #container {
    display: flex;
    align-items: center;

    position: absolute;
    overflow-x: scroll;
    top: 70px;
    bottom: 20px;
    left: 0;
    right: 0;
  }

  #pageno {
    position: fixed;
    right: 15px;
    top: 5px;
  }

  #lookup {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 55px;
    height: 65px;
    background-color: var(--color-bump1);
  }

  article {
    writing-mode: vertical-rl;
    padding-left: 35px;
    padding-right: 35px;

    line-height: 1.6;
  }

  .highlight {
    background-color: var(--color-active);
  }

  .nav-btn {
    background-color: var(--color-nav);
    min-width: 50px;
    height: 100%;
  }
</style>

<div id='lookup'>
</div>
<div id='container'>
  <% unless @paragraph.last? %>
    <%= link_to '', book_path(@book.slug, @paragraph.index + 1, anchor: 'first'), class: 'nav-btn' %>
  <% end %>

  <article>
    <% @paragraph.lines.each_with_index do |line, i| %>
      <p id='p<%= i %>'><%= line %></p>
    <% end %>
  </article>

  <% unless @paragraph.first? %>
    <%= link_to '', book_path(@book.slug, @paragraph.index - 1, anchor: 'last'), class: 'nav-btn' %>
  <% end %>
</div>
<span id='pageno'><%= @paragraph.index %>/<%= @book.paragraphs.size-1 %></span>
